:root {
    /* animation */

    --time-to-animate: 250ms;

    /* OUTLINE */

    --outline: transparent;

    /* colors */
    --body-background-color: #ffffff;
    /* headings */
    --headings-speciality-text-color: #ffffff;
    --headings-text-color-default: #212121;
    /* borders */
    --border-regular-customers-icons: #afb1b8;
    --header-border-color: #ececec;
    --border-item-list-color: #eeeeee;
    /* text-colors */
    --text-p-color-default: #757575;
    --links-text-color-hover: #2196f3;
    --buttons-text-color: #ffffff;
    --links-text-color-default: #212121;
    --main-title-text-color: #ffffff;
    --footer-address-text-color: #ffffff;
    --portfolio-item-desc-text-color: #ffffff;
    /* backgrounds-color */
    --main-button-background-color-default: #2196f3;
    --button-background-color-default: #f5f4fa;
    --buttons-background-color-hover: #188ce8;
    --background-item-list-color: #ffffff;
    --hero-background-color: #2f303a;
    --team-section-background-color: #f5f4fa;
    --benefits-icons-background-color: #f5f4fa;
    --team-card-background-color: #ffffff;
    --footer-background-color: #2f303a;
    --soc-links-background-hover: #2196f3;
    --soc-links-footer-background-hover: #2196f3;
    --modal-close-svg-cross-def-color: #000000;
    /* logo */
    --weblogo-color: #000;
    --weblogo-footer-color: #ffffff;
    --weblogo-half-color: #2196f3;
    /* ------ */
    --footer-contacts-link-color: rgba(255, 255, 255, 0.6);
    --default-color-soc-lincs-icons: #afb1b8;
    --default-color-clients-icons: #afb1b8;
    --customers-hover-fill-color: #2196f3;
    --icons-social-color-hover: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-background-color);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Header */

.page-header {
    border-bottom: 1px solid var(--header-border-color);
}

.header-flex {
    display: flex;
}

/* web logo */
.weblogo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 24px;
    /* padding-top: 24px;
    padding-bottom: 24px; */
    color: var(--weblogo-half-color);
}

.weblogo-header-padding {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
}

.weblogo-footer,
.weblogo-link {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--weblogo-color);
    text-decoration: none;
}

.weblogo-link {
    margin-bottom: 20px;
}

.weblogo-header {
    color: var(--weblogo-color);
}

.list {
    list-style-type: none;
    margin: 0px;
    padding-left: 0;
}

.main-nav {
    margin-left: 93px;
}

.main-nav__list {
    display: flex;
}

.additional-contacts {
    display: flex;
    margin-left: auto;
}

.main-nav__item {
    margin-left: 50px;
    position: relative;
}

.main-nav__item:first-child {
    margin-left: 0;
}

.main-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--links-text-color-default);
}

.main-nav__link--active::after {
    position: absolute;
    content: '';
    background-color: currentColor;
    border: 1px solid var(--links-text-color-hover);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    display: block;
}

.main-nav-link:hover,
.main-nav-link:focus,
.header-contacts:hover,
.header-contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus,
.main-nav__link--active {
    color: var(--links-text-color-hover);
}

/* ------------animation */

.main-nav-link,
.header-contacts,
.footer-contacts,
.main-nav__link--active {
    transition-property: color;
    transition-duration: var(--time-to-animate);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hdr-cont-icon {
    fill: currentColor;
    margin-right: 10px;
}

.envelope-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

/*--------------------------------------- Header */
.header-contacts.header-contacts-icons-link {
    display: flex;
    align-items: center;
    /* padding: 0; */
}

.header-contacts {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-p-color-default);
}

.hero__main-title {
    width: 696px;
    margin: 0px auto 30px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-text-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    height: 600px;
    width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.order {
    display: block;
    padding: 10px 32px;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--main-button-background-color-default);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--buttons-text-color);
}

.order:hover,
.order:focus {
    background-color: var(--buttons-background-color-hover);
}

/* animation */

.order {
    transition-property: background-color;
    transition-duration: var(--time-to-animate);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* benefits */

.benefits {
    display: flex;
    gap: 30px;
}

.benefits-header {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headings-text-color-default);
}

.benefits-list {
    width: 270px;
}

.conntainer-benefits-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--benefits-icons-background-color);
    border-radius: 4px;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-p-color-default);
}

/* Speciality */

.speciality-list {
    display: flex;
    gap: 30px;
}

.speciality-item {
    position: relative;
}

.speciality-image,
.portfolio-item img,
.team-card-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.what-we-do-heding {
    background-color: rgba(47, 48, 58, 0.8);
    /* padding: 27px 82px; */
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headings-speciality-text-color);
}

/* ----------------------H2 headers-------------------------- */
.speciality-header,
.regular-customers-header,
.team-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--headings-text-color-default);
    margin-bottom: 50px;
}

/* ---------------------------------------------------------- */

.speciality {
    padding-top: 0;
}

/* Team */

.team {
    background-color: var(--team-section-background-color);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-card {
    background-color: var(--team-card-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card-text-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.full-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headings-text-color-default);
}

.team-card-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-p-color-default);
    margin-bottom: 16px;
}

.soc-link-list {
    display: flex;
    gap: 10px;
    padding-left: 0px;
    justify-content: center;
}

.soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: var(--default-color-soc-lincs-icons);
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--soc-links-background-hover);
    fill: var(--icons-social-color-hover);
}

/* aniomation  */

.soc-link,
.soc-link {
    transition-property: background-color, fill;
    transition-duration: var(--time-to-animate);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------Regular-customers------------------------ */

.regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-regular-customers {
    display: flex;
    gap: 30px;
}

.item-customer-logo {
    display: flex;
    justify-content: center;
    width: calc((100% - 150px) / 6);
    height: 92px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid var(--border-regular-customers-icons);
    border-radius: 4px;
    fill: var(--default-color-clients-icons);
    outline: var(--outline);
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--customers-hover-fill-color);
    fill: var(--customers-hover-fill-color);
}

/* animation */

.client-link {
    transition-property: border, fill;
    transition-duration: var(--time-to-animate);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------Footer---------------------- */

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer-contacts-item {
    margin-bottom: 9px;
}

.footer-contacts-item:last-child {
    margin-bottom: 0;
}

.footer-contacts {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-link-color);
}

.footer-address-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--footer-address-text-color);
    margin-bottom: 9px;
}

.weblogo-footer {
    color: var(--weblogo-footer-color);
}

.join {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--footer-address-text-color);
}

.footer-flex {
    display: flex;
    align-items: baseline;
}

.footer-social-links-container {
    margin-left: 70px;
}

.soc-link-list-footer {
    display: flex;
    gap: 10px;
    /* padding-bottom: 30px; */
    padding-left: 0px;
    justify-content: center;
}

.soc-link-footer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: var(--icons-social-color-hover);
    background-color: rgba(255, 255, 255, 0.1);
}

.soc-link-footer:hover,
.soc-link-footer:focus {
    background-color: var(--soc-links-footer-background-hover);
}

/* animation */

.soc-link-footer {
    transition-property: background-color;
    transition-duration: var(--time-to-animate);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------Portfolio------------------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filters-buttons {
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    background-color: var(--button-background-color-default);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--links-text-color-default);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.selected,
.filters-buttons:hover,
.filters-buttons:focus {
    background-color: var(--main-button-background-color-default);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0px;
    color: var(--buttons-text-color);
}

/* animation */

.selected,
.filters-buttons {
    transition-property: background-color, box-shadow, color;
    transition-duration: var(--time-to-animate);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-headers {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--headings-text-color-default);
}

.porfolio-desc {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-p-color-default);
}

.portfolio-item {
    background-color: var(--background-item-list-color);
    border-bottom: 1px solid var(--border-item-list-color);
}

.portfolio-link {
    display: block;
    text-decoration: none;
}

.wrapper-text-on-portf-item {
    position: relative;
    overflow: hidden;
}

.desc-text-on-image-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--portfolio-item-desc-text-color);
    max-height: 100%;
    transform: translateY(100%);
    transition-duration: var(--time-to-animate);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .desc-text-on-image-portfolio,
.portfolio-link:focus .desc-text-on-image-portfolio {
    transform: translateY(0%);
}

.filter {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.filter-item {
    margin-left: 8px;
}

.filter-item:first-child {
    margin-left: 0px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card-text {
    padding: 20px 24px;
    border-left: 1px solid var(--border-item-list-color);
    border-right: 1px solid var(--border-item-list-color);
    border-bottom: 1px solid var(--border-item-list-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* animation */

.portfolio-link {
    transition-property: box-shadow;
    transition-duration: var(--time-to-animate);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal-window */

.backdrop {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: visibility, opacity;
    transition: opacity var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

/* МОДАЛЬНОЕ ОКНО */
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--body-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    /* transition: fill var(--time-to-animate); */
}

.modal-close:hover .close-modal-icon,
.modal-close:focus .close-modal-icon {
    fill: #2196f3;
}

.close-modal-icon {
    transition: fill var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--modal-close-svg-cross-def-color);
}

/* .modal-close:hover .close-modal-icon:hover,
.modal-close:focus .close-modal-icon {
    fill: var(--customers-hover-fill-color);
} */

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headings-text-color-default);
    margin-bottom: 12px;
}

/* ------------------- ФОРМА */
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* margin-bottom: 10px; */
    padding-left: 42px;
    outline: var(--outline);
    transition: border-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--customers-hover-fill-color);
}

.modal-input:focus + .input-icon {
    fill: var(--customers-hover-fill-color);
}

.lables {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-p-color-default);
    display: block;
}

.comment-text {
    padding: 12px 16px;
    height: 120px;
    left: 576px;
    top: 518px;
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: var(--outline);
    transition: border-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus {
    border-color: var(--customers-hover-fill-color);
}

.comment-text::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.lable-user-consent {
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-p-color-default);
}

.contractual-terms {
    margin-left: 0.3em;
    border-bottom: 1px solid var(--customers-hover-fill-color);
    text-decoration: none;
    align-self: flex-start;
    height: 18.5px;
    color: var(--customers-hover-fill-color);
}

.send-data {
    display: block;
    padding: 10px 56px 10px 55px;
    height: 50px;
    margin: 30px auto 0px;
    cursor: pointer;
    background-color: var(--main-button-background-color-default);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--buttons-text-color);
}

.send-data:hover,
.send-data:focus {
    background-color: var(--buttons-background-color-hover);
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
    position: relative;
}

.modal-field {
    margin-top: 10px;
}

.modal-field:first-child {
    margin-top: 0;
}

.check-icon {
    fill: transparent;
    transition: fill var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.lable-user-consent span {
    display: flex;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
    border: 2px solid var(--links-text-color-default);
    transition: background-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1), border-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .lable-user-consent span {
    background-color: var(--customers-hover-fill-color);
    border-color: var(--customers-hover-fill-color);
}

.modal-check:focus + .lable-user-consent span {
    border-color: var(--customers-hover-fill-color);
}

.modal-check:checked + .lable-user-consent .check-icon {
    fill: var(--icons-social-color-hover);
}

.modal-field-checkbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.subscribe-container {
    margin-left: auto;
}

.subscribe-user-email {
    width: 358px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    transition: border-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
    outline: var(--outline);
}

.subscribe-user-email::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-user-email:focus {
    border-color: var(--buttons-background-color-hover);
}

.subscribe-footer-button {
    display: flex;
    align-items: center;
    padding: 10px 29px 10px 29px;
    height: 50px;
    /* margin: 0 auto; */
    cursor: pointer;
    background-color: var(--main-button-background-color-default);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--buttons-text-color);
    transition: background-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-footer-button:hover,
.subscribe-footer-button:focus {
    background-color: var(--buttons-background-color-hover);
}

.subscribe-form {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.subscribe-footer-icon {
    margin-left: 10px;
    fill: var(--buttons-text-color);
}
