.benefits {
    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    }

    &__header {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--headings-text-color-default);

        @media screen and (max-width: 767.98px) {
            text-align: center;
        }
    }

    &__item {
        width: 270px;

        @media screen and (max-width: 767.98px) {
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 3 * 30px) / 4);
        }

        &:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
    }

    &__conntainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 120px;
        background-color: var(--benefits-icons-background-color);
        border-radius: 4px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--text-p-color-default);
    }
}
