.mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 48px 40px;

    transition-property: visibility, opacity;
    transition: opacity var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        display: none;
    }

    &-container {
        @media screen and (min-width: 480px) {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
    }

    &-open {
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 15px;
        margin: 0;
        padding: 0;
        transition-property: fill;
        transition-duration: var(--time-to-animate);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &-close {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        transition-property: fill;
        transition-duration: var(--time-to-animate);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
}
// -------------------------------------------
.main-nav-mobile {
    &__item {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: var(--links-text-color-default);
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        text-align: center;
        letter-spacing: 0.02em;
        text-align: left;

        transition-property: color;
        transition-duration: var(--time-to-animate);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &--active {
            color: var(--accent-color);
            position: relative;
        }

        &--active::after {
            position: absolute;
            content: '';
            background-color: currentColor;
            border: 1px solid var(--links-text-color-hover);
            border-radius: 2px;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -5px;
            display: block;
        }
    }
}

.mobile-additional-nav {
    margin-bottom: 64px;

    &__item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        color: var(--accent-color);
        letter-spacing: 0.02em;
        display: block;
        text-decoration: none;

        @media screen and (max-width: 380px) {
            font-size: 26px;
        }

        &--email {
            margin-bottom: 64px;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: var(--text-p-color-default);
        }
    }
}

// 40x 40
.soc-link-list-mobile {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &__item {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        &:last-child {
            padding-right: 0px;
            border-right: none;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        text-decoration: none;
        color: var(--accent-color);
    }
}
