.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: var(--outline);
    transition: border-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--customers-hover-fill-color);
    }

    &:focus + .input-icon {
        fill: var(--customers-hover-fill-color);
    }
}

.lables {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-p-color-default);
    display: block;
}

.comment-text {
    padding: 12px 16px;
    height: 120px;
    left: 576px;
    top: 518px;
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: var(--outline);
    transition: border-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--customers-hover-fill-color);
    }

    &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.lable-user-consent {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-p-color-default);

    @media screen and(min-width: 1200px) {
        font-size: 14px;
    }
}

.contractual-terms {
    margin-left: 0.3em;
    border-bottom: 1px solid var(--customers-hover-fill-color);
    text-decoration: none;
    align-self: flex-start;
    height: 18.5px;
    color: var(--customers-hover-fill-color);
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
    position: relative;
}

.modal-field {
    margin-top: 10px;
}

.modal-field:first-child {
    margin-top: 0;
}

.check-icon {
    fill: transparent;
    transition: fill var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.lable-user-consent span {
    display: flex;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
    border: 2px solid var(--links-text-color-default);
    transition: background-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1), border-color var(--time-to-animate) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .lable-user-consent span {
    background-color: var(--customers-hover-fill-color);
    border-color: var(--customers-hover-fill-color);
}

.modal-check:focus + .lable-user-consent span {
    border-color: var(--customers-hover-fill-color);
}

.modal-check:checked + .lable-user-consent .check-icon {
    fill: var(--icons-social-color-hover);
}

.modal-field-checkbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
