.team {
    background-color: var(--team-section-background-color);

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--headings-text-color-default);
        margin-bottom: 50px;
    }
}
