:root {
    /* animation */

    --time-to-animate: 250ms;

    /* OUTLINE */

    --outline: transparent;

    /* colors */
    --body-background-color: #ffffff;
    /* headings */
    --headings-speciality-text-color: #ffffff;
    --headings-text-color-default: #212121;
    /* borders */
    --border-regular-customers-icons: #afb1b8;
    --header-border-color: #ececec;
    --border-item-list-color: #eeeeee;
    /* text-colors */
    --text-p-color-default: #757575;
    --links-text-color-hover: #2196f3;
    --buttons-text-color: #ffffff;
    --links-text-color-default: #212121;
    --main-title-text-color: #ffffff;
    --footer-address-text-color: #ffffff;
    --portfolio-item-desc-text-color: #ffffff;
    /* backgrounds-color */
    --main-button-background-color-default: #2196f3;
    --button-background-color-default: #f5f4fa;
    --buttons-background-color-hover: #188ce8;
    --background-item-list-color: #ffffff;
    --hero-background-color: #2f303a;
    --team-section-background-color: #f5f4fa;
    --benefits-icons-background-color: #f5f4fa;
    --team-card-background-color: #ffffff;
    --footer-background-color: #2f303a;
    --soc-links-background-hover: #2196f3;
    --soc-links-footer-background-hover: #2196f3;
    --modal-close-svg-cross-def-color: #000000;
    /* logo */
    --weblogo-color: #000;
    --weblogo-footer-color: #ffffff;
    --weblogo-half-color: #2196f3;
    /* ------ */
    --footer-contacts-link-color: rgba(255, 255, 255, 0.6);
    --default-color-soc-lincs-icons: #afb1b8;
    --default-color-clients-icons: #afb1b8;
    --customers-hover-fill-color: #2196f3;
    --icons-social-color-hover: #ffffff;

    --accent-color: #2196f3;
}
